<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--读取数据库配置文件-->
    <context:property-placeholder location="classpath:database.properties"/>
    <!--获取数据源使用dbcp连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close" scope="singleton">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
        <!--配置数据源连接池(可选)-->

        <!--sql心跳包(可选)-->
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="validationQuery" value="select 1"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="numTestsPerEvictionRun" value="${maxActive}"/>
    </bean>
    <!--通过SqlSessionFactoryBean创建SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--引用数据源组件-->
        <property name="dataSource" ref="dataSource"/>
        <!--设置typeAliasesPackage：实体类的别名-->
        <property name="typeAliasesPackage" value="org.news.pojo"/>
        <!--配置Mapper映射文件-->
        <!--<property name="mapperLocations" value="classpath:cn/bdqn/dao/**/*.xml"/>-->
    </bean>
    <!--根据包名自动扫描项目中的dao和Service-->
    <context:component-scan base-package="cn.bdqn.dao,cn.bdqn.service"/>

    <!--使用MapperScannerConfigurer注入映射器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--根据包名扫描Mapper接口的方法-->
        <property name="basePackage" value="org.news.dao"/>
    </bean>
    
    
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--通过<tx:advice>标签为指定的事务管理管理设置-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--定义属性，生明事务管理-->
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" rollback-for="Excetion"/>
        </tx:attributes>
    </tx:advice>
    <!--AOP事务处理-->
    <!--使用aspectj注解处理事务-->
    <!--<aop:aspectj-autoproxy/>-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>-->
    <aop:config proxy-target-class="true">
        <aop:advisor pointcut-ref="transService" advice-ref="txAdvice"/>
    </aop:config>
</beans>