<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--根据包名自动扫描Controller-->
    <context:component-scan base-package="cn.bdqn.controller"/>

    <mvc:annotation-driven/>

    <!--完成视图的对应-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀--><property name="prefix" value="/WEB-INF/jsp/"/>
        <!--后缀--><property name="suffix" value=".jsp"/>
    </bean>
    <!--静态资源访问设置-->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!--配置多视图解析器：允许同样的内容数据呈现不同的view-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="favorParameter" value="true"/>
        <property name="defaultContentType" value="text/html"/>
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html;charset=utf-8"></entry>
                <entry key="json" value="application/json;charset=utf-8"></entry>
                <entry key="xml" value="application/xml;charset=utf-8"></entry>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <!--完成视图的对应-->
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/jsp/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
    </bean>
     <!--拦截器，防止异常登录-->
   <!-- <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/sys/**"/>
            <bean class="org.news.interceptor.SysInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->
</beans>
